.container{
    width: calc(100vw - 200px);
    max-width: 2000px;
    height: 92.5vh;
    max-height: 1020px;
    margin-left: 140px;
    background-color: var(--menu-color-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.card{
    background-color: var(--menu-color-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
    height: 160px;
    width: 260px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
.name{
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.country{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    margin-top: -8px;
}
.image{
    width: 45%;
}
.wrapper{
    width: 50%;
    height: 100px;
}
.temp{
    font-size: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.icon{
    font-size: 25px;
    margin-right: 5px;
}
.time{
    font-size: 25px;
    display: flex;
    align-items: center;
}