:root{
  --bg-color-1: rgb(105, 255, 255);
  --bg-color-2: rgb(0, 83, 207);
  --menu-color-1: rgba(63, 209, 253, 0.507);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
